$colorBlack: rgba(black, 0.85)

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap')

@font-face 
    font-family: 'Gotham-Medium'
    src: url('../assets/font/Gotham-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Gotham-Book'
    src: url('../assets/font/Gotham-Book.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap

@keyframes moveArrow
    0%
        transform: scale(4, 1.8) translateY(0)
    50%
        transform: scale(4, 1.8) translateY(5px)
    // 60%
    //     transform: scale(4, 1.8) translateY(0)
    100%
        transform: scale(4, 1.8) translateY(2px)
        

*
    // transition: .5s
    box-sizing: border-box
    // position: relative

h1, h2, h3, h4, h5, h6, a, .navbar-toggler
    font-family: 'Gotham-Medium'
p
    font-family: 'Gotham-Book'
h2
    color: rgba(black, 0.7)

img.logo
    width: 120px
    position: absolute
    top: 21px
    left: 15px
button.navbar-toggler
    margin-top: 3px
    padding: 12px 14px
    border-radius: 10px
    background-color: hsla(0,0%,50.2%,.125)
    border: none
nav.navbar-light .navbar-toggler
    color: $colorBlack
    margin-left: 8px
    margin-right: 8px
    font-weight: 500
    font-size: 13px
.navbar-light .navbar-nav a.nav-link 
    color: $colorBlack
    margin-left: 8px
    margin-right: 8px
    font-weight: 500
    font-size: 15px
    // letter-spacing: .5px
.nav2
    position: absolute
    top: 9px
    right: 20px

.section
    width: 100%
    height: 100vh
    position: relative
#slide1
    background: url("../assets/img/bg1.jfif")
    background-size: cover
    background-position: center
#slide2
    background: url("../assets/img/bg2.jfif")
    background-size: cover
    background-position: center
#slide3
    background: url("../assets/img/bg3.jfif")
    background-size: cover
    background-position: center
.upper
    padding-top: 140px
    h2
        font-size: 41px
        margin-bottom: 0
    p
        font-size: 14px
        color: rgba(black, .5)
        font-weight: bold
        a
            color: rgba(23,26,32, 0.7)
            text-decoration: none
            border-bottom: rgba(black, .4) solid 1.5px
            font-weight: normal
            // letter-spacing: 0px

.lower
    position: absolute
    bottom: 40px
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
.lower .btn1
    display: inline-block
    text-align: center
    background: rgba(23,26,32, 0.8)
    color: white
    padding: 11px 40px
    border-radius: 30px
    font-size: 12px
    width: 250px
    text-decoration: none
    margin: 0 8px
    font-weight: 400
.lower .btn2
    display: inline-block
    text-align: center
    background: rgba(white, 0.5)
    color: $colorBlack
    padding: 11px 40px
    border-radius: 30px
    font-size: 12px
    width: 250px
    text-decoration: none
    margin: 0 8px
    font-weight: 400
.lower .arrow
    margin-top: 15px
    display: inline-block
    text-decoration: none
    font-size: 14px
    transform: scale(4, 1.8)
    font-weight: 300
    font-family: "Quicksand"
    animation: moveArrow 1s 1s infinite alternate
    
#slide2 .lower, #slide3 .lower
    bottom: 59px

.upper h2, .upper p, .lower .btn1, .lower .btn2
    opacity: 0
    visibility: hidden    


.lower .arrow::before
    content: "v"
    color: $colorBlack

@media only screen and (max-width: 990px)
    // img.logo
    //     width: 120px
    //     top: 21px
    //     left: auto
    //     right: 15px
    .navbar
        // background-color: white
    .nav2
        position: relative
        right: auto
        top: 0

@media screen and ( max-width:  600px)
    .section .lower
        // bottom: 30px
        .arrow
            margin-top: 0
    .section .lower div
        display: flex   
        flex-direction: column
        justify-content: center
        align-items: center
        padding-left: 20px
        padding-right: 20px
        a.btn1, a.btn2
            margin: 8px 0px
            width: 100%
    #slide1
        background: url("../assets/img/bg1_mobile.jfif")
        background-size: cover
        background-position: center
    #slide2
        background: url("../assets/img/bg2_mobile.jfif")
        background-size: cover
        background-position: center
    #slide3
        background: url("../assets/img/bg3_mobile.jfif")
        background-size: cover
        background-position: center

    