doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tesla 
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="assets/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="assets/fullPage/src/fullPage.css")
        link(rel="shortcut icon", href="assets/img/teslaIcon.webp")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
        script(src='assets/fullPage/src/fullPage.js')
        script(src='assets/bootstrap/js/bootstrap.js')
        script(src='script.js')
    body 
        nav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container-fluid
                a(href="#")
                    img.logo(src="assets/img/TeslaLogo.svg", alt="")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation') Menu
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.mx-auto 
                        li.nav-item
                            a.nav-link(href='#') Model S
                        li.nav-item
                            a.nav-link(href='#') Model 3
                        li.nav-item
                            a.nav-link(href='#') Model X
                        li.nav-item
                            a.nav-link(href='#') Model Y
                        li.nav-item
                            a.nav-link(href='#') Solar Roof
                        li.nav-item
                            a.nav-link(href='#') Solar Panels
                    ul.navbar-nav.nav2
                        li.nav-item
                            a.nav-link(href='#') Shop
                        li.nav-item
                            a.nav-link(href='#') Account
        #fullpage
            section#slide1.section
                .container 
                    .row 
                        .col-md-12
                            .upper.text-center
                                h2 Model S
                                p Order Online for 
                                    a(href="")  Touchless Delivery 
                            .lower.text-center
                                div 
                                    a.btn1(href="") CUSTOM ORDER
                                    a.btn2(href="") EXISTING INVENTORY
                                div
                                    a.arrow(href="")
            section#slide2.section
                .container 
                    .row 
                        .col-md-12
                            .upper.text-center
                                h2 Model Y
                                p Order Online for 
                                    a(href="")  Touchless Delivery 
                            .lower.text-center
                                div 
                                    a.btn1(href="") CUSTOM ORDER
                                    a.btn2(href="") EXISTING INVENTORY

            section#slide3.section
                .container 
                    .row 
                        .col-md-12
                            .upper.text-center
                                h2 Model X
                                p Order Online for 
                                    a(href="")  Touchless Delivery 
                            .lower.text-center
                                div 
                                    a.btn1(href="") CUSTOM ORDER
                                    a.btn2(href="") EXISTING INVENTORY
