link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet", href="assets/bootstrap/css/bootstrap.css")
script(src='script.js')
script(src='assets/bootstrap/js/bootstrap.js')
title Tesla 
nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container-fluid
    a(href="#")
        img.logo(src="assets/img/TeslaLogo.svg", alt="")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.mx-auto 
            li.nav-item
                a.nav-link(href='#') Model S
            li.nav-item
                a.nav-link(href='#') Model 3
            li.nav-item
                a.nav-link(href='#') Model X
            li.nav-item
                a.nav-link(href='#') Model Y
            li.nav-item
                a.nav-link(href='#') Solar Roof
            li.nav-item
                a.nav-link(href='#') Solar Panels
        ul.navbar-nav.nav2
            li.nav-item
                a.nav-link(href='#') Shop
            li.nav-item
                a.nav-link(href='#') Account 
section.slide#slide1 
    .container 
        .row 
            .col-md-12
                .upper.text-center
                    h2 Model S
                    p Order Online for 
                        a(href="")  Touchless Delivery 
                .lower.text-center
                    div 
                        a.btn1(href="") CUSTOM ORDER
                        a.btn2(href="") EXISTING INVENTORY
                    div
                        a.arrow
                            svg(width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd')
                                path(d='M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z')
section.slide#slide1 
    .container 
        .row 
            .col-md-12
                .upper.text-center
                    h2 Model S
                    p Order Online for 
                        a(href="")  Touchless Delivery 
                .lower.text-center
                    div 
                        a.btn1(href="") CUSTOM ORDER
                        a.btn2(href="") EXISTING INVENTORY
                    div
                        a.arrow
                            svg(width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd')
                                path(d='M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z')
section.slide#slide2 
    .container 
        .row 
            .col-md-12
                .upper.text-center
                    h2 Model S
                    p Order Online for 
                        a(href="")  Touchless Delivery 
                .lower.text-center
                    div 
                        a.btn1(href="") CUSTOM ORDER
                        a.btn2(href="") EXISTING INVENTORY
                    div
                        a.arrow
                            svg(width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd')
                                path(d='M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z')
section.slide#slide3 
    .container 
        .row 
            .col-md-12
                .upper.text-center
                    h2 Model S
                    p Order Online for 
                        a(href="")  Touchless Delivery 
                .lower.text-center
                    div 
                        a.btn1(href="") CUSTOM ORDER
                        a.btn2(href="") EXISTING INVENTORY
                    div
                        a.arrow
                            svg(width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd')
                                path(d='M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z')
